/* body{
    text-align: justify;
    width: 75%;
    margin-left: 70px;
}
h4{
    margin-top: -10px;
}
p{
    margin-top: 20px;
}
h3{
    margin-top: 30px;
    color: darkblue;

}
.para{
    margin: 0;
} */
body{
  
    /* background-color: rgba(0, 0, 255, 0.342); */
    justify-content: center;
    display: flex;
   
}
.mainDiv{
    display: flex;
    height: 630px;
    width: 500px;
    /* background-color: blue; */
    border: 1px solid red;
    
}
.rightDiv{
    width: 200px;
    height: 630px;
    background-color: #5680e9;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.righDiv1{
    background-color: whitesmoke;
    width: 100px;
    height: 70px;
   
}
.scancode{
    width: 100px;
}
.righDiv2{
    background-color: whitesmoke;
    margin-top: 20px;
    width: 100px;
    height: 50px;
}
.righDiv3{
    background-color: whitesmoke;
    margin-top: 20px;
    width: 100px;
    height: 50px;
}
.righDiv4{
    background-color: whitesmoke;
    margin-top: 20px;
    width: 100px;
    height: 50px;
}
.righDiv5{
    background-color: whitesmoke;
    margin-top: 20px;
    width: 100px;
    height: 50px;
}
.leftDiv{
    width: 100%;
    height: 630px;
    background-color: gainsboro;
    border: 1px solid red;
}
.leftDiv1{
    background-color: whitesmoke;
    margin-top: 20px;
    width: 100;
    height: 50px;
}
.leftDiv2{
    background-color: whitesmoke;
    margin-top: 20px;
    width: 100;
    height: 50px;
}
.leftDiv3{
    background-color: whitesmoke;
    margin-top: 20px;
    width: 100;
    height: 50px;
}
.leftDiv4{
    display: flex;
    background-color: whitesmoke;
    margin-top: 20px;
    width: 100;
    height: 300px;
}
.leftDiv4-1{
    width: 100px;
    height: 300px;
    border: 1px solid red;
}
.leftDiv4-2{
    width: 100px;
    height: 300px;
    border: 1px solid red;
}
